/* Colours: green #6cf426 yellow #f9ce0e link #00ffff other #48af8c */
/* New: #4cd408 #e9ce0e #0099ff */
.fa {
	font: normal normal 16px FreeSans, Helvetica, DejaVu Sans, sans-serif;
}

/* Highlighting */
::-moz-selection { background: #9cf !important; color: #000 !important; }
::selection { background: #9cf !important; color: #000 !important; }

html, body {
	background-color: #222;
	color: #4cd408;
	font: 13px/1.6 FreeSans, Helvetica, DejaVu Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #e9ce0e;
	font-family: FreeSerif, Georgia, DejaVu, serif;
	font-weight: normal;
}

del {
	color: #007700;
}

a, a:link, a:visited {
	color: #0099ff;
}

a.absent {
	color: #c00;
}

.markdown-body {
	line-height: 1.6;
}

.minibutton a {
	background: -moz-linear-gradient(center top , #333, #444) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #666;
	text-shadow: 0 1px 0 #333;
}

.minibutton a:link, .minibutton a:visited, .minibutton a:hover, .minibutton a:active {
	color: #e9ce0e;
}


#head {
	border-bottom-color: #e9ce0e;
}

#search-submit {
	background: -moz-linear-gradient(center top , #555, #666) repeat scroll 0 0 rgba(0, 0, 0, 0);
	text-shadow: 0 1px 0 #333;
}

#head #searchbar #searchbar-fauxtext #search-submit {
	border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #666;
}

#head #searchbar #searchbar-fauxtext #search-submit span {
	background-position: -431px -28px;
}

#head #searchbar #searchbar-fauxtext {
	background-color: #333;
	border-color: #666;
}

#head #searchbar #searchbar-fauxtext input#search-query {
	color: #ccc;
	background-color: #333;
}

#head #searchbar #searchbar-fauxtext input#search-query.ph {
	color: #e9ce0e;
}

#wiki-sidebar {
	background-color: #333;
	border: 1px solid #666;
}

.results h1 {
	color: #f9ce0e;
}

.results h1 strong {
	color: #00ffff;
	font-weight: normal;
}

.results #results ul li span.count {
	color: #6cf426;
}

.results #results {
	border-bottom: 1px solid #f9ce0e;
}

.markdown-body a.absent {
	color: #c00;
}

.page #footer {
	border-top: 1px solid #e9ce0e;
}

#footer p#last-edit {
	color: #4cd408;
}

.fa-link:before {
	content: "\2021";
}

.markdown-body h1 .fa-link, 
.markdown-body h2 .fa-link, 
.markdown-body h3 .fa-link, 
.markdown-body h4 .fa-link, 
.markdown-body h5 .fa-link, 
.markdown-body h6 .fa-link {
	color: #0099ff;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	color: #e9ce0e;
	font-family: FreeSerif, Georgia, DejaVu, serif;
	font-weight: normal;
	border-bottom-color: #e9ce0e;
}


p, .markdown-body p {
	text-align: justify;
	/* text-indent: 3em; */
	margin: 13px 0px;
}

.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body hr {
	margin: 5px;
}

.markdown-body hr {
	color: #e9ce0e;
}

.markdown-body blockquote {
	color: #ccc;
}

.markdown-body table tr {
	border-top: 1px solid #666;
	background-color: #333;
}

.markdown-body table tr:nth-child(2n) {
	background-color: #444;
}

.markdown-body table tr th,
.markdown-body table tr td {
	border: 1px solid #666;
}

/* TODO: */
.markdown-body span.frame > span {
	border: 1px solid #ddd;
}

.markdown-body span.frame span span {
	color: #ccc;
}

.markdown-body code,
.markdown-body pre,
.markdown-body tt {
	font-family: Monaco, Consolas, "Liberation Mono", FreeMono, monospace;
	border: 1px solid #666;
	background-color: #333;
	tab-size: 3;
	-moz-tab-size: 3;
} 

.markdown-body pre {
	line-height: 1.6;
}

.markdown-body dl dt {
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #e9ce0e;
}

.markdown-body dl dd {
	margin: 0 0 10px;
}

.toc {
	border: 1px solid #666;
	background-color: #333;
}

.toc-title {
	color: #e9ce0e;
	border-bottom-color: #e9ce0e;
}


.highlight { color: #4cd408; background-color: #333; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #33bbc7 } /* Comment */
.highlight .err { color: #c00 } /* Error */
.highlight .g { color: #4cd408 } /* Generic */
.highlight .k { color: #ccaa00 } /* Keyword */
.highlight .l { color: #4cd408 } /* Literal */
.highlight .n { color: #00ffff } /* Name */
.highlight .o { color: #ffff00 } /* Operator */
.highlight .x { color: #4cd408 } /* Other */
.highlight .p { color: #ffff00 } /* Punctuation */
.highlight .cm { color: #33bbc7} /* Comment.Multiline */
.highlight .cp { color: #cd5c5c} /* Comment.Preproc */
.highlight .c1 { color: #33bbc7} /* Comment.Single */
.highlight .cs { color: #33bbc7} /* Comment.Special */
.highlight .gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
.highlight .ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
.highlight .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
.highlight .gh { color: #cd5c5c} /* Generic.Heading */
.highlight .gi { color: #ffffff; background-color: #0000c0 } /* Generic.Inserted */
.highlight .go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output */
.highlight .gp { color: #ccaa00 } /* Generic.Prompt */
.highlight .gs { color: #4cd408 } /* Generic.Strong */
.highlight .gu { color: #cd5c5c} /* Generic.Subheading */
.highlight .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
.highlight .kc { color: #ccaa00} /* Keyword.Constant */
.highlight .kd { color: #ccaa00} /* Keyword.Declaration */
.highlight .kn { color: #ccaa00} /* Keyword.Namespace */
.highlight .kp { color: #ccaa00} /* Keyword.Pseudo */
.highlight .kr { color: #ccaa00} /* Keyword.Reserved */
.highlight .kt { color: #bdb76b} /* Keyword.Type */
.highlight .ld { color: #4cd408} /* Literal.Date */
.highlight .m { color: #4cd408} /* Literal.Number */
.highlight .s { color: #4cd408} /* Literal.String */
.highlight .na { color: #00ffff} /* Name.Attribute */
.highlight .nb { color: #ccaa00} /* Name.Builtin */
.highlight .nc { color: #ccaa00} /* Name.Class */
.highlight .no { color: #ffa0a0} /* Name.Constant */
.highlight .nd { color: #00ffff} /* Name.Decorator */
.highlight .ni { color: #ffdead} /* Name.Entity */
.highlight .ne { color: #cc3300} /* Name.Exception */
.highlight .nf { color: #ccaa00} /* Name.Function */
.highlight .nl { color: #00ffff} /* Name.Label */
.highlight .nn { color: #ccaa00} /* Name.Namespace */
.highlight .nx { color: #4cd408} /* Name.Other */
.highlight .py { color: #00ffff} /* Name.Property */
.highlight .nt { color: #f0e68c} /* Name.Tag */
.highlight .nv { color: #00ffff} /* Name.Variable */
.highlight .ow { color: #ffff00} /* Operator.Word */
.highlight .w { color: #4cd408 } /* Text.Whitespace */

.highlight .mf { color: #4cd408 } /* Literal.Number.Float */
.highlight .mh { color: #4cd408 } /* Literal.Number.Hex */
.highlight .mi { color: #4cd408 } /* Literal.Number.Integer */
.highlight .mo { color: #4cd408 } /* Literal.Number.Oct */
.highlight .sb { color: #4cd408 } /* Literal.String.Backtick */
.highlight .sc { color: #4cd408 } /* Literal.String.Char */
.highlight .sd { color: #4cd408 } /* Literal.String.Doc */
.highlight .s2 { color: #4cd408 } /* Literal.String.Double */
.highlight .se { color: #4cd408 } /* Literal.String.Escape */
.highlight .sh { color: #4cd408 } /* Literal.String.Heredoc */
.highlight .si { color: #4cd408 } /* Literal.String.Interpol */
.highlight .sx { color: #4cd408 } /* Literal.String.Other */
.highlight .sr { color: #4cd408 } /* Literal.String.Regex */
.highlight .s1 { color: #4cd408 } /* Literal.String.Single */
.highlight .ss { color: #4cd408 } /* Literal.String.Symbol */
.highlight .bp { color: #4cd408 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #98fb98} /* Name.Variable.Class */
.highlight .vg { color: #98fb98} /* Name.Variable.Global */
.highlight .vi { color: #98fb98} /* Name.Variable.Instance */
.highlight .il { color: #4cd408 } /* Literal.Number.Integer.Long */
